In [2]:
import pandas as pd
import numpy as np

# Read in Data

In [3]:
train = pd.read_csv("train.csv")
train

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
0,1,2011-08-20,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,...,9,4,0,13,22,1,0,52,4,5850000
1,2,2011-08-23,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,...,15,3,0,15,29,1,10,66,14,6000000
2,3,2011-08-27,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,...,10,3,0,11,27,0,4,67,10,5700000
3,4,2011-09-01,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,...,11,2,1,4,4,0,0,26,3,13100000
4,5,2011-09-05,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,...,319,108,17,135,236,2,91,195,14,16331452
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30466,30469,2015-06-30,44,27.0,7.0,9.0,1.0,1975.0,2.0,6.0,...,15,5,0,15,26,1,2,84,6,7400000
30467,30470,2015-06-30,86,59.0,3.0,9.0,2.0,1935.0,4.0,10.0,...,313,128,24,98,182,1,82,171,15,25000000
30468,30471,2015-06-30,45,NaN,10.0,20.0,1.0,NaN,1.0,1.0,...,1,1,0,2,12,0,1,11,1,6970959
30469,30472,2015-06-30,64,32.0,5.0,15.0,1.0,2003.0,2.0,11.0,...,22,1,1,6,31,1,4,65,7,13500000
30470,30473,2015-06-30,43,28.0,1.0,9.0,1.0,1968.0,2.0,6.0,...,5,2,0,7,16,0,9,54,10,5600000

In [4]:
macro = pd.read_csv("macro.csv")
macro

,timestamp,oil_urals,gdp_quart,gdp_quart_growth,cpi,ppi,gdp_deflator,balance_trade,balance_trade_growth,usdrub,...,provision_retail_space_modern_sqm,turnover_catering_per_cap,theaters_viewers_per_1000_cap,seats_theather_rfmin_per_100000_cap,museum_visitis_per_100_cap,bandwidth_sports,population_reg_sports_share,students_reg_sports_share,apartment_build,apartment_fund_sqm
0,2010-01-01,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
1,2010-01-02,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
2,2010-01-03,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
3,2010-01-04,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.9050,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
4,2010-01-05,76.1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.8360,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2479,2016-10-15,44.3677,19979.4,-0.6,531.0,601.9,133.16,5.823,2.6,62.9573,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2480,2016-10-16,44.3677,19979.4,-0.6,531.0,601.9,133.16,5.823,2.6,62.9573,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2481,2016-10-17,44.3677,19979.4,-0.6,531.0,601.9,133.16,5.823,2.6,63.0856,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2482,2016-10-18,44.3677,19979.4,-0.6,531.0,601.9,133.16,5.823,2.6,62.9512,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2483,2016-10-19,44.3677,19979.4,-0.6,531.0,601.9,133.16,5.823,2.6,62.9512,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
final = pd.merge(train,macro, on = "timestamp")
final

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,provision_retail_space_modern_sqm,turnover_catering_per_cap,theaters_viewers_per_1000_cap,seats_theather_rfmin_per_100000_cap,museum_visitis_per_100_cap,bandwidth_sports,population_reg_sports_share,students_reg_sports_share,apartment_build,apartment_fund_sqm
0,1,2011-08-20,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,...,271.0,6943.0,565.0,0.45356,1240.0,269768.0,22.37,64.12,23587.0,230310.0
1,2,2011-08-23,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,...,271.0,6943.0,565.0,0.45356,1240.0,269768.0,22.37,64.12,23587.0,230310.0
2,3,2011-08-27,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,...,271.0,6943.0,565.0,0.45356,1240.0,269768.0,22.37,64.12,23587.0,230310.0
3,4,2011-09-01,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,...,271.0,6943.0,565.0,0.45356,1240.0,269768.0,22.37,64.12,23587.0,230310.0
4,5,2011-09-05,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,...,271.0,6943.0,565.0,0.45356,1240.0,269768.0,22.37,64.12,23587.0,230310.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30466,30469,2015-06-30,44,27.0,7.0,9.0,1.0,1975.0,2.0,6.0,...,NaN,10805.0,NaN,0.45888,NaN,463938.0,NaN,NaN,NaN,234576.9
30467,30470,2015-06-30,86,59.0,3.0,9.0,2.0,1935.0,4.0,10.0,...,NaN,10805.0,NaN,0.45888,NaN,463938.0,NaN,NaN,NaN,234576.9
30468,30471,2015-06-30,45,NaN,10.0,20.0,1.0,NaN,1.0,1.0,...,NaN,10805.0,NaN,0.45888,NaN,463938.0,NaN,NaN,NaN,234576.9
30469,30472,2015-06-30,64,32.0,5.0,15.0,1.0,2003.0,2.0,11.0,...,NaN,10805.0,NaN,0.45888,NaN,463938.0,NaN,NaN,NaN,234576.9
30470,30473,2015-06-30,43,28.0,1.0,9.0,1.0,1968.0,2.0,6.0,...,NaN,10805.0,NaN,0.45888,NaN,463938.0,NaN,NaN,NaN,234576.9

In [10]:
final["product_type"].nunique()
final["sub_area"].nunique()
final["ecology"].nunique()

5

# Merged Final DataSet

In [32]:
nulls = {}
for col in final.columns:
    na = final[col].isna().sum()
    nulls[col] = na

In [33]:
nulls = sorted(nulls.items(), key = lambda x: x[1],reverse = True)
nulls

[('provision_retail_space_modern_sqm', 29718),
 ('provision_retail_space_sqm', 24879),
 ('load_of_teachers_preschool_per_teacher', 16901),
 ('theaters_viewers_per_1000_cap', 16901),
 ('museum_visitis_per_100_cap', 16901),
 ('students_reg_sports_share', 16901),
 ('hospital_beds_raion', 14441),
 ('build_year', 13605),
 ('state', 13559),
 ('cafe_sum_500_min_price_avg', 13281),
 ('cafe_sum_500_max_price_avg', 13281),
 ('cafe_avg_price_500', 13281),
 ('max_floor', 9572),
 ('material', 9572),
 ('num_room', 9572),
 ('kitch_sq', 9572),
 ('preschool_quota', 6688),
 ('school_quota', 6685),
 ('cafe_sum_1000_min_price_avg', 6524),
 ('cafe_sum_1000_max_price_avg', 6524),
 ('cafe_avg_price_1000', 6524),
 ('life_sq', 6383),
 ('modern_education_share', 5592),
 ('old_education_build_share', 5592),
 ('raion_build_count_with_material_info', 4991),
 ('build_count_block', 4991),
 ('build_count_wood', 4991),
 ('build_count_frame', 4991),
 ('build_count_brick', 4991),
 ('build_count_monolith', 4991),
 ('build_count_panel', 4991),
 ('build_count_foam', 4991),
 ('build_count_slag', 4991),
 ('build_count_mix', 4991),
 ('raion_build_count_with_builddate_info', 4991),
 ('build_count_before_1920', 4991),
 ('build_count_1921-1945', 4991),
 ('build_count_1946-1970', 4991),
 ('build_count_1971-1995', 4991),
 ('build_count_after_1995', 4991),
 ('cafe_sum_1500_min_price_avg', 4199),
 ('cafe_sum_1500_max_price_avg', 4199),
 ('cafe_avg_price_1500', 4199),
 ('grp', 3239),
 ('grp_growth', 3239),
 ('real_dispos_income_per_cap_growth', 3239),
 ('profitable_enterpr_share', 3239),
 ('unprofitable_enterpr_share', 3239),
 ('share_own_revenues', 3239),
 ('overdue_wages_per_cap', 3239),
 ('fin_res_per_cap', 3239),
 ('marriages_per_1000_cap', 3239),
 ('divorce_rate', 3239),
 ('construction_value', 3239),
 ('invest_fixed_assets_phys', 3239),
 ('pop_migration', 3239),
 ('pop_total_inc', 3239),
 ('housing_fund_sqm', 3239),
 ('lodging_sqm_per_cap', 3239),
 ('water_pipes_share', 3239),
 ('baths_share', 3239),
 ('sewerage_share', 3239),
 ('gas_share', 3239),
 ('hot_water_share', 3239),
 ('electric_stove_share', 3239),
 ('heating_share', 3239),
 ('old_house_share', 3239),
 ('infant_mortarity_per_1000_cap', 3239),
 ('perinatal_mort_per_1000_cap', 3239),
 ('incidence_population', 3239),
 ('child_on_acc_pre_school', 3239),
 ('provision_doctors', 3239),
 ('power_clinics', 3239),
 ('hospital_beds_available_per_cap', 3239),
 ('hospital_bed_occupancy_per_year', 3239),
 ('population_reg_sports_share', 3239),
 ('apartment_build', 3239),
 ('cafe_sum_2000_min_price_avg', 1725),
 ('cafe_sum_2000_max_price_avg', 1725),
 ('cafe_avg_price_2000', 1725),
 ('cafe_sum_3000_min_price_avg', 991),
 ('cafe_sum_3000_max_price_avg', 991),
 ('cafe_avg_price_3000', 991),
 ('cafe_sum_5000_min_price_avg', 297),
 ('cafe_sum_5000_max_price_avg', 297),
 ('cafe_avg_price_5000', 297),
 ('prom_part_5000', 178),
 ('floor', 167),
 ('metro_min_walk', 25),
 ('metro_km_walk', 25),
 ('railroad_station_walk_km', 25),
 ('railroad_station_walk_min', 25),
 ('ID_railroad_station_walk', 25),
 ('id', 0),
 ('timestamp', 0),
 ('full_sq', 0),
 ('product_type', 0),
 ('sub_area', 0),
 ('area_m', 0),
 ('raion_popul', 0),
 ('green_zone_part', 0),
 ('indust_part', 0),
 ('children_preschool', 0),
 ('preschool_education_centers_raion', 0),
 ('children_school', 0),
 ('school_education_centers_raion', 0),
 ('school_education_centers_top_20_raion', 0),
 ('healthcare_centers_raion', 0),
 ('university_top_20_raion', 0),
 ('sport_objects_raion', 0),
 ('additional_education_raion', 0),
 ('culture_objects_top_25', 0),
 ('culture_objects_top_25_raion', 0),
 ('shopping_centers_raion', 0),
 ('office_raion', 0),
 ('thermal_power_plant_raion', 0),
 ('incineration_raion', 0),
 ('oil_chemistry_raion', 0),
 ('radiation_raion', 0),
 ('railroad_terminal_raion', 0),
 ('big_market_raion', 0),
 ('nuclear_reactor_raion', 0),
 ('detention_facility_raion', 0),
 ('full_all', 0),
 ('male_f', 0),
 ('female_f', 0),
 ('young_all', 0),
 ('young_male', 0),
 ('young_female', 0),
 ('work_all', 0),
 ('work_male', 0),
 ('work_female', 0),
 ('ekder_all', 0),
 ('ekder_male', 0),
 ('ekder_female', 0),
 ('0_6_all', 0),
 ('0_6_male', 0),
 ('0_6_female', 0),
 ('7_14_all', 0),
 ('7_14_male', 0),
 ('7_14_female', 0),
 ('0_17_all', 0),
 ('0_17_male', 0),
 ('0_17_female', 0),
 ('16_29_all', 0),
 ('16_29_male', 0),
 ('16_29_female', 0),
 ('0_13_all', 0),
 ('0_13_male', 0),
 ('0_13_female', 0),
 ('ID_metro', 0),
 ('metro_min_avto', 0),
 ('metro_km_avto', 0),
 ('kindergarten_km', 0),
 ('school_km', 0),
 ('park_km', 0),
 ('green_zone_km', 0),
 ('industrial_km', 0),
 ('water_treatment_km', 0),
 ('cemetery_km', 0),
 ('incineration_km', 0),
 ('railroad_station_avto_km', 0),
 ('railroad_station_avto_min', 0),
 ('ID_railroad_station_avto', 0),
 ('public_transport_station_km', 0),
 ('public_transport_station_min_walk', 0),
 ('water_km', 0),
 ('water_1line', 0),
 ('mkad_km', 0),
 ('ttk_km', 0),
 ('sadovoe_km', 0),
 ('bulvar_ring_km', 0),
 ('kremlin_km', 0),
 ('big_road1_km', 0),
 ('ID_big_road1', 0),
 ('big_road1_1line', 0),
 ('big_road2_km', 0),
 ('ID_big_road2', 0),
 ('railroad_km', 0),
 ('railroad_1line', 0),
 ('zd_vokzaly_avto_km', 0),
 ('ID_railroad_terminal', 0),
 ('bus_terminal_avto_km', 0),
 ('ID_bus_terminal', 0),
 ('oil_chemistry_km', 0),
 ('nuclear_reactor_km', 0),
 ('radiation_km', 0),
 ('power_transmission_line_km', 0),
 ('thermal_power_plant_km', 0),
 ('ts_km', 0),
 ('big_market_km', 0),
 ('market_shop_km', 0),
 ('fitness_km', 0),
 ('swim_pool_km', 0),
 ('ice_rink_km', 0),
 ('stadium_km', 0),
 ('basketball_km', 0),
 ('hospice_morgue_km', 0),
 ('detention_facility_km', 0),
 ('public_healthcare_km', 0),
 ('university_km', 0),
 ('workplaces_km', 0),
 ('shopping_centers_km', 0),
 ('office_km', 0),
 ('additional_education_km', 0),
 ('preschool_km', 0),
 ('big_church_km', 0),
 ('church_synagogue_km', 0),
 ('mosque_km', 0),
 ('theater_km', 0),
 ('museum_km', 0),
 ('exhibition_km', 0),
 ('catering_km', 0),
 ('ecology', 0),
 ('green_part_500', 0),
 ('prom_part_500', 0),
 ('office_count_500', 0),
 ('office_sqm_500', 0),
 ('trc_count_500', 0),
 ('trc_sqm_500', 0),
 ('cafe_count_500', 0),
 ('cafe_count_500_na_price', 0),
 ('cafe_count_500_price_500', 0),
 ('cafe_count_500_price_1000', 0),
 ('cafe_count_500_price_1500', 0),
 ('cafe_count_500_price_2500', 0),
 ('cafe_count_500_price_4000', 0),
 ('cafe_count_500_price_high', 0),
 ('big_church_count_500', 0),
 ('church_count_500', 0),
 ('mosque_count_500', 0),
 ('leisure_count_500', 0),
 ('sport_count_500', 0),
 ('market_count_500', 0),
 ('green_part_1000', 0),
 ('prom_part_1000', 0),
 ('office_count_1000', 0),
 ('office_sqm_1000', 0),
 ('trc_count_1000', 0),
 ('trc_sqm_1000', 0),
 ('cafe_count_1000', 0),
 ('cafe_count_1000_na_price', 0),
 ('cafe_count_1000_price_500', 0),
 ('cafe_count_1000_price_1000', 0),
 ('cafe_count_1000_price_1500', 0),
 ('cafe_count_1000_price_2500', 0),
 ('cafe_count_1000_price_4000', 0),
 ('cafe_count_1000_price_high', 0),
 ('big_church_count_1000', 0),
 ('church_count_1000', 0),
 ('mosque_count_1000', 0),
 ('leisure_count_1000', 0),
 ('sport_count_1000', 0),
 ('market_count_1000', 0),
 ('green_part_1500', 0),
 ('prom_part_1500', 0),
 ('office_count_1500', 0),
 ('office_sqm_1500', 0),
 ('trc_count_1500', 0),
 ('trc_sqm_1500', 0),
 ('cafe_count_1500', 0),
 ('cafe_count_1500_na_price', 0),
 ('cafe_count_1500_price_500', 0),
 ('cafe_count_1500_price_1000', 0),
 ('cafe_count_1500_price_1500', 0),
 ('cafe_count_1500_price_2500', 0),
 ('cafe_count_1500_price_4000', 0),
 ('cafe_count_1500_price_high', 0),
 ('big_church_count_1500', 0),
 ('church_count_1500', 0),
 ('mosque_count_1500', 0),
 ('leisure_count_1500', 0),
 ('sport_count_1500', 0),
 ('market_count_1500', 0),
 ('green_part_2000', 0),
 ('prom_part_2000', 0),
 ('office_count_2000', 0),
 ('office_sqm_2000', 0),
 ('trc_count_2000', 0),
 ('trc_sqm_2000', 0),
 ('cafe_count_2000', 0),
 ('cafe_count_2000_na_price', 0),
 ('cafe_count_2000_price_500', 0),
 ('cafe_count_2000_price_1000', 0),
 ('cafe_count_2000_price_1500', 0),
 ('cafe_count_2000_price_2500', 0),
 ('cafe_count_2000_price_4000', 0),
 ('cafe_count_2000_price_high', 0),
 ('big_church_count_2000', 0),
 ('church_count_2000', 0),
 ('mosque_count_2000', 0),
 ('leisure_count_2000', 0),
 ('sport_count_2000', 0),
 ('market_count_2000', 0),
 ('green_part_3000', 0),
 ('prom_part_3000', 0),
 ('office_count_3000', 0),
 ('office_sqm_3000', 0),
 ('trc_count_3000', 0),
 ('trc_sqm_3000', 0),
 ('cafe_count_3000', 0),
 ('cafe_count_3000_na_price', 0),
 ('cafe_count_3000_price_500', 0),
 ('cafe_count_3000_price_1000', 0),
 ('cafe_count_3000_price_1500', 0),
 ('cafe_count_3000_price_2500', 0),
 ('cafe_count_3000_price_4000', 0),
 ('cafe_count_3000_price_high', 0),
 ('big_church_count_3000', 0),
 ('church_count_3000', 0),
 ('mosque_count_3000', 0),
 ('leisure_count_3000', 0),
 ('sport_count_3000', 0),
 ('market_count_3000', 0),
 ('green_part_5000', 0),
 ('office_count_5000', 0),
 ('office_sqm_5000', 0),
 ('trc_count_5000', 0),
 ('trc_sqm_5000', 0),
 ('cafe_count_5000', 0),
 ('cafe_count_5000_na_price', 0),
 ('cafe_count_5000_price_500', 0),
 ('cafe_count_5000_price_1000', 0),
 ('cafe_count_5000_price_1500', 0),
 ('cafe_count_5000_price_2500', 0),
 ('cafe_count_5000_price_4000', 0),
 ('cafe_count_5000_price_high', 0),
 ('big_church_count_5000', 0),
 ('church_count_5000', 0),
 ('mosque_count_5000', 0),
 ('leisure_count_5000', 0),
 ('sport_count_5000', 0),
 ('market_count_5000', 0),
 ('price_doc', 0),
 ('oil_urals', 0),
 ('gdp_quart', 0),
 ('gdp_quart_growth', 0),
 ('cpi', 0),
 ('ppi', 0),
 ('gdp_deflator', 0),
 ('balance_trade', 0),
 ('balance_trade_growth', 0),
 ('usdrub', 0),
 ('eurrub', 0),
 ('brent', 0),
 ('net_capital_export', 0),
 ('gdp_annual', 0),
 ('gdp_annual_growth', 0),
 ('average_provision_of_build_contract', 0),
 ('average_provision_of_build_contract_moscow', 0),
 ('rts', 0),
 ('micex', 0),
 ('micex_rgbi_tr', 0),
 ('micex_cbi_tr', 0),
 ('deposits_value', 0),
 ('deposits_growth', 0),
 ('deposits_rate', 0),
 ('mortgage_value', 0),
 ('mortgage_growth', 0),
 ('mortgage_rate', 0),
 ('income_per_cap', 0),
 ('salary', 0),
 ('salary_growth', 0),
 ('fixed_basket', 0),
 ('retail_trade_turnover', 0),
 ('retail_trade_turnover_per_cap', 0),
 ('retail_trade_turnover_growth', 0),
 ('labor_force', 0),
 ('unemployment', 0),
 ('employment', 0),
 ('invest_fixed_capital_per_cap', 0),
 ('invest_fixed_assets', 0),
 ('pop_natural_increase', 0),
 ('childbirth', 0),
 ('mortality', 0),
 ('average_life_exp', 0),
 ('rent_price_4+room_bus', 0),
 ('rent_price_3room_bus', 0),
 ('rent_price_2room_bus', 0),
 ('rent_price_1room_bus', 0),
 ('rent_price_3room_eco', 0),
 ('rent_price_2room_eco', 0),
 ('rent_price_1room_eco', 0),
 ('load_of_teachers_school_per_teacher', 0),
 ('students_state_oneshift', 0),
 ('provision_nurse', 0),
 ('load_on_doctors', 0),
 ('turnover_catering_per_cap', 0),
 ('seats_theather_rfmin_per_100000_cap', 0),
 ('bandwidth_sports', 0),
 ('apartment_fund_sqm', 0)]

# Removes categories with very limited data

In [34]:
index_names = final[(final["product_type"] == "Investment") & (final["sub_area"] == "Poselenie Kievskij")].index 
final.drop(index_names, inplace = True) 
index_names = final[(final["product_type"] == "Investment") & (final["sub_area"] == "Poselenie Klenovskoe")].index 
final.drop(index_names, inplace = True) 
index_names = final[(final["product_type"] == "Investment") & (final["sub_area"] == "Poselenie Kokoshkino")].index 
final.drop(index_names, inplace = True) 
index_names = final[(final["product_type"] == "Investment") & (final["sub_area"] == "Poselenie Marushkinskoe")].index 
final.drop(index_names, inplace = True)
index_names = final[(final["product_type"] == "Investment") & (final["sub_area"] == "Poselenie Mihajlovo-Jarcevskoe")].index 
final.drop(index_names, inplace = True)
index_names = final[(final["product_type"] == "Investment") & (final["sub_area"] == "Poselenie Shhapovskoe")].index 
final.drop(index_names, inplace = True)
index_names = final[(final["product_type"] == "OwnerOccupier") & (final["sub_area"] == "Poselenie Kievskij")].index 
final.drop(index_names, inplace = True)
index_names = final[(final["product_type"] == "OwnerOccupier") & (final["sub_area"] == "Poselenie Kokoshkino")].index 
final.drop(index_names, inplace = True)
index_names = final[(final["product_type"] == "OwnerOccupier") & (final["sub_area"] == "Poselenie Novofedorovskoe")].index 
final.drop(index_names, inplace = True)

In [35]:
final.index = range(len(final.index))

In [44]:
means = final.groupby(["product_type", "sub_area","ecology"])["cafe_avg_price_5000"].agg(
    {lambda x: x.mean(skipna=True)})
means

                                                 <lambda>
product_type  sub_area          ecology
Investment    Ajeroport         poor          1027.846311
              Akademicheskoe    poor          1049.370595
                                satisfactory  1027.380233
              Alekseevskoe      poor          1031.798947
              Altuf'evskoe      good           935.955588
...                                                   ...
OwnerOccupier Tverskoe          excellent     1165.961019
              Veshnjaki         poor           910.470000
              Vojkovskoe        excellent      911.562105
              Zamoskvorech'e    excellent     1185.267500
              Zapadnoe Degunino satisfactory   959.319498

[314 rows x 1 columns]

# Removing NAs

In [45]:
def remove_na(col):
    #print(col)
    means = final.groupby(["product_type", "sub_area","ecology"])[col].agg({lambda x: x.mean(skipna=True)})
    
    df = final[[col,"product_type","sub_area","ecology"]]
    df[col] =  df[col].fillna(0.0)
    for i in range(0, len(df[col])):
        if df[col][i] == 0.0:
            index1 = df["product_type"][i]
            index2 = df["sub_area"][i]
            index3 = df["ecology"][i]
            df[col][i] = means.loc[index1,index2,index3]
    final[col] = df[col]

In [46]:
cols2 = ["cafe_avg_price_5000","floor",'hospital_beds_raion','build_year', 'state','cafe_sum_500_min_price_avg',
        'cafe_sum_500_max_price_avg','cafe_avg_price_500','max_floor','material','num_room','kitch_sq','preschool_quota',
        'school_quota', 'cafe_sum_1000_min_price_avg', 'cafe_sum_1000_max_price_avg', 'cafe_avg_price_1000', 'life_sq',
        'raion_build_count_with_material_info','build_count_block', 'build_count_wood', 'build_count_frame',
        'build_count_brick', 'build_count_monolith','build_count_panel', 'build_count_foam', 'build_count_slag', 
        'build_count_mix','raion_build_count_with_builddate_info','build_count_before_1920','build_count_1921-1945',
        'build_count_1946-1970','build_count_1971-1995', 'build_count_after_1995','cafe_sum_1500_min_price_avg',
        'cafe_sum_1500_max_price_avg', 'cafe_avg_price_1500', 'cafe_sum_2000_min_price_avg',
        'cafe_sum_2000_max_price_avg','cafe_avg_price_2000','cafe_sum_3000_min_price_avg','cafe_sum_3000_max_price_avg',
        'cafe_avg_price_3000', 'cafe_sum_5000_min_price_avg', 'cafe_sum_5000_max_price_avg', 
        'prom_part_5000','floor','metro_min_walk', 'metro_km_walk', 'railroad_station_walk_km','railroad_station_walk_min', 
        'ID_railroad_station_walk','provision_retail_space_modern_sqm','provision_retail_space_sqm',
        'load_of_teachers_preschool_per_teacher','theaters_viewers_per_1000_cap','museum_visitis_per_100_cap','students_reg_sports_share',
        'grp','grp_growth','real_dispos_income_per_cap_growth',
        'profitable_enterpr_share','unprofitable_enterpr_share','share_own_revenues','overdue_wages_per_cap','fin_res_per_cap',
        'marriages_per_1000_cap','divorce_rate','construction_value','invest_fixed_assets_phys','pop_migration','pop_total_inc',
        'housing_fund_sqm','lodging_sqm_per_cap','water_pipes_share','baths_share','sewerage_share','gas_share',
        'hot_water_share','electric_stove_share','heating_share','old_house_share','infant_mortarity_per_1000_cap',
        'perinatal_mort_per_1000_cap','incidence_population', 'provision_doctors','power_clinics',
        'hospital_beds_available_per_cap','hospital_bed_occupancy_per_year','population_reg_sports_share',
        'apartment_build','prom_part_5000']

In [47]:
for col in cols2:
    remove_na(col)

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
nulls2 = {}
for col in final.columns:
    na = final[col].isna().sum()
    nulls2[col] = na

In [ ]:
nulls2 = sorted(nulls2.items(), key = lambda x: x[1],reverse = True)
nulls2

In [89]:
drop =['hospital_beds_raion','provision_retail_space_modern_sqm','preschool_quota','school_quota','modern_education_share',
      'old_education_build_share','raion_build_count_with_material_info','build_count_block','build_count_wood','build_count_frame',
      'build_count_brick','build_count_monolith','build_count_panel','build_count_foam','build_count_slag',
      'build_count_mix','raion_build_count_with_builddate_info','build_count_before_1920','build_count_1921-1945',
      'build_count_1946-1970','build_count_1971-1995','build_count_after_1995','cafe_sum_500_min_price_avg','cafe_sum_500_max_price_avg',
      'cafe_avg_price_500','child_on_acc_pre_school','cafe_sum_1000_min_price_avg','cafe_sum_1000_max_price_avg',
      'cafe_avg_price_1000','cafe_sum_1500_min_price_avg','cafe_sum_1500_max_price_avg','cafe_avg_price_1500',
      'provision_retail_space_sqm','cafe_sum_2000_min_price_avg','cafe_sum_2000_max_price_avg','cafe_avg_price_2000',
      'load_of_teachers_preschool_per_teacher','theaters_viewers_per_1000_cap','museum_visitis_per_100_cap',
      'students_reg_sports_share','cafe_sum_3000_min_price_avg','cafe_sum_3000_max_price_avg','cafe_avg_price_3000',
      "timestamp","product_type", "sub_area","culture_objects_top_25", "culture_objects_top_25_raion",
       "thermal_power_plant_raion","incineration_raion","oil_chemistry_raion","radiation_raion",'water_1line',
       "railroad_terminal_raion","big_market_raion","nuclear_reactor_raion","detention_facility_raion","railroad_1line",
      "big_road1_1line","ecology"]

In [49]:
final = final.drop(drop, axis = 1)

In [50]:
final["state"] = final["state"].fillna(final["state"].mean())
final["max_floor"] = final["max_floor"].fillna(final["max_floor"].mean())
final["material"] = final["material"].fillna(final["material"].mean())
final["num_room"] = final["num_room"].fillna(final["num_room"].mean())
final["kitch_sq"] = final["kitch_sq"].fillna(final["kitch_sq"].mean())
final["grp"] = final["grp"].fillna(final["grp"].mean())
final["grp_growth"] = final["grp_growth"].fillna(final["grp_growth"].mean())
final["real_dispos_income_per_cap_growth"] = final["real_dispos_income_per_cap_growth"].fillna(final["real_dispos_income_per_cap_growth"].mean())
final["profitable_enterpr_share"] = final["profitable_enterpr_share"].fillna(final["profitable_enterpr_share"].mean())
final["unprofitable_enterpr_share"] = final["unprofitable_enterpr_share"].fillna(final["unprofitable_enterpr_share"].mean())
final["share_own_revenues"] = final["share_own_revenues"].fillna(final["share_own_revenues"].mean())
final["overdue_wages_per_cap"] = final["overdue_wages_per_cap"].fillna(final["overdue_wages_per_cap"].mean())
final["fin_res_per_cap"] = final["fin_res_per_cap"].fillna(final["fin_res_per_cap"].mean())
final["marriages_per_1000_cap"] = final["marriages_per_1000_cap"].fillna(final["marriages_per_1000_cap"].mean())
final["divorce_rate"] = final["divorce_rate"].fillna(final["divorce_rate"].mean())
final["construction_value"] = final["construction_value"].fillna(final["construction_value"].mean())
final["invest_fixed_assets_phys"] = final["invest_fixed_assets_phys"].fillna(final["invest_fixed_assets_phys"].mean())
final["pop_migration"] = final["pop_migration"].fillna(final["pop_migration"].mean())
final["pop_total_inc"] = final["pop_total_inc"].fillna(final["pop_total_inc"].mean())
final["housing_fund_sqm"] = final["housing_fund_sqm"].fillna(final["housing_fund_sqm"].mean())
final["lodging_sqm_per_cap"] = final["lodging_sqm_per_cap"].fillna(final["lodging_sqm_per_cap"].mean())
final["water_pipes_share"] = final["water_pipes_share"].fillna(final["water_pipes_share"].mean())
final["baths_share"] = final["baths_share"].fillna(final["baths_share"].mean())
final["sewerage_share"] = final["sewerage_share"].fillna(final["sewerage_share"].mean())
final["gas_share"] = final["gas_share"].fillna(final["gas_share"].mean())
final["hot_water_share"] = final["hot_water_share"].fillna(final["hot_water_share"].mean())
final["electric_stove_share"] = final["electric_stove_share"].fillna(final["electric_stove_share"].mean())
final["heating_share"] = final["heating_share"].fillna(final["heating_share"].mean())
final["old_house_share"] = final["old_house_share"].fillna(final["old_house_share"].mean())
final["infant_mortarity_per_1000_cap"] = final["infant_mortarity_per_1000_cap"].fillna(final["infant_mortarity_per_1000_cap"].mean())
final["perinatal_mort_per_1000_cap"] = final["perinatal_mort_per_1000_cap"].fillna(final["perinatal_mort_per_1000_cap"].mean())
final["incidence_population"] = final["incidence_population"].fillna(final["incidence_population"].mean())
final["provision_doctors"] = final["provision_doctors"].fillna(final["provision_doctors"].mean())
final["power_clinics"] = final["power_clinics"].fillna(final["power_clinics"].mean())
final["hospital_beds_available_per_cap"] = final["hospital_beds_available_per_cap"].fillna(final["hospital_beds_available_per_cap"].mean())
final["hospital_bed_occupancy_per_year"] = final["hospital_bed_occupancy_per_year"].fillna(final["hospital_bed_occupancy_per_year"].mean())
final["population_reg_sports_share"] = final["population_reg_sports_share"].fillna(final["population_reg_sports_share"].mean())
final["apartment_build"] = final["apartment_build"].fillna(final["apartment_build"].mean())
final["prom_part_5000"] = final["prom_part_5000"].fillna(final["prom_part_5000"].mean())
final["life_sq"] = final["life_sq"].fillna(final["life_sq"].mean())
final["build_year"] = final["build_year"].fillna(final["build_year"].mean())

In [51]:
nulls3 = {}
for col in final.columns:
    na = final[col].isna().sum()
    nulls3[col] = na
nulls3 = sorted(nulls3.items(), key = lambda x: x[1],reverse = True)
nulls3

[('id', 0),
 ('timestamp', 0),
 ('full_sq', 0),
 ('life_sq', 0),
 ('floor', 0),
 ('max_floor', 0),
 ('material', 0),
 ('build_year', 0),
 ('num_room', 0),
 ('kitch_sq', 0),
 ('state', 0),
 ('product_type', 0),
 ('sub_area', 0),
 ('area_m', 0),
 ('raion_popul', 0),
 ('green_zone_part', 0),
 ('indust_part', 0),
 ('children_preschool', 0),
 ('preschool_education_centers_raion', 0),
 ('children_school', 0),
 ('school_education_centers_raion', 0),
 ('school_education_centers_top_20_raion', 0),
 ('healthcare_centers_raion', 0),
 ('university_top_20_raion', 0),
 ('sport_objects_raion', 0),
 ('additional_education_raion', 0),
 ('culture_objects_top_25', 0),
 ('culture_objects_top_25_raion', 0),
 ('shopping_centers_raion', 0),
 ('office_raion', 0),
 ('thermal_power_plant_raion', 0),
 ('incineration_raion', 0),
 ('oil_chemistry_raion', 0),
 ('radiation_raion', 0),
 ('railroad_terminal_raion', 0),
 ('big_market_raion', 0),
 ('nuclear_reactor_raion', 0),
 ('detention_facility_raion', 0),
 ('full_all', 0),
 ('male_f', 0),
 ('female_f', 0),
 ('young_all', 0),
 ('young_male', 0),
 ('young_female', 0),
 ('work_all', 0),
 ('work_male', 0),
 ('work_female', 0),
 ('ekder_all', 0),
 ('ekder_male', 0),
 ('ekder_female', 0),
 ('0_6_all', 0),
 ('0_6_male', 0),
 ('0_6_female', 0),
 ('7_14_all', 0),
 ('7_14_male', 0),
 ('7_14_female', 0),
 ('0_17_all', 0),
 ('0_17_male', 0),
 ('0_17_female', 0),
 ('16_29_all', 0),
 ('16_29_male', 0),
 ('16_29_female', 0),
 ('0_13_all', 0),
 ('0_13_male', 0),
 ('0_13_female', 0),
 ('ID_metro', 0),
 ('metro_min_avto', 0),
 ('metro_km_avto', 0),
 ('metro_min_walk', 0),
 ('metro_km_walk', 0),
 ('kindergarten_km', 0),
 ('school_km', 0),
 ('park_km', 0),
 ('green_zone_km', 0),
 ('industrial_km', 0),
 ('water_treatment_km', 0),
 ('cemetery_km', 0),
 ('incineration_km', 0),
 ('railroad_station_walk_km', 0),
 ('railroad_station_walk_min', 0),
 ('ID_railroad_station_walk', 0),
 ('railroad_station_avto_km', 0),
 ('railroad_station_avto_min', 0),
 ('ID_railroad_station_avto', 0),
 ('public_transport_station_km', 0),
 ('public_transport_station_min_walk', 0),
 ('water_km', 0),
 ('water_1line', 0),
 ('mkad_km', 0),
 ('ttk_km', 0),
 ('sadovoe_km', 0),
 ('bulvar_ring_km', 0),
 ('kremlin_km', 0),
 ('big_road1_km', 0),
 ('ID_big_road1', 0),
 ('big_road1_1line', 0),
 ('big_road2_km', 0),
 ('ID_big_road2', 0),
 ('railroad_km', 0),
 ('railroad_1line', 0),
 ('zd_vokzaly_avto_km', 0),
 ('ID_railroad_terminal', 0),
 ('bus_terminal_avto_km', 0),
 ('ID_bus_terminal', 0),
 ('oil_chemistry_km', 0),
 ('nuclear_reactor_km', 0),
 ('radiation_km', 0),
 ('power_transmission_line_km', 0),
 ('thermal_power_plant_km', 0),
 ('ts_km', 0),
 ('big_market_km', 0),
 ('market_shop_km', 0),
 ('fitness_km', 0),
 ('swim_pool_km', 0),
 ('ice_rink_km', 0),
 ('stadium_km', 0),
 ('basketball_km', 0),
 ('hospice_morgue_km', 0),
 ('detention_facility_km', 0),
 ('public_healthcare_km', 0),
 ('university_km', 0),
 ('workplaces_km', 0),
 ('shopping_centers_km', 0),
 ('office_km', 0),
 ('additional_education_km', 0),
 ('preschool_km', 0),
 ('big_church_km', 0),
 ('church_synagogue_km', 0),
 ('mosque_km', 0),
 ('theater_km', 0),
 ('museum_km', 0),
 ('exhibition_km', 0),
 ('catering_km', 0),
 ('ecology', 0),
 ('green_part_500', 0),
 ('prom_part_500', 0),
 ('office_count_500', 0),
 ('office_sqm_500', 0),
 ('trc_count_500', 0),
 ('trc_sqm_500', 0),
 ('cafe_count_500', 0),
 ('cafe_count_500_na_price', 0),
 ('cafe_count_500_price_500', 0),
 ('cafe_count_500_price_1000', 0),
 ('cafe_count_500_price_1500', 0),
 ('cafe_count_500_price_2500', 0),
 ('cafe_count_500_price_4000', 0),
 ('cafe_count_500_price_high', 0),
 ('big_church_count_500', 0),
 ('church_count_500', 0),
 ('mosque_count_500', 0),
 ('leisure_count_500', 0),
 ('sport_count_500', 0),
 ('market_count_500', 0),
 ('green_part_1000', 0),
 ('prom_part_1000', 0),
 ('office_count_1000', 0),
 ('office_sqm_1000', 0),
 ('trc_count_1000', 0),
 ('trc_sqm_1000', 0),
 ('cafe_count_1000', 0),
 ('cafe_count_1000_na_price', 0),
 ('cafe_count_1000_price_500', 0),
 ('cafe_count_1000_price_1000', 0),
 ('cafe_count_1000_price_1500', 0),
 ('cafe_count_1000_price_2500', 0),
 ('cafe_count_1000_price_4000', 0),
 ('cafe_count_1000_price_high', 0),
 ('big_church_count_1000', 0),
 ('church_count_1000', 0),
 ('mosque_count_1000', 0),
 ('leisure_count_1000', 0),
 ('sport_count_1000', 0),
 ('market_count_1000', 0),
 ('green_part_1500', 0),
 ('prom_part_1500', 0),
 ('office_count_1500', 0),
 ('office_sqm_1500', 0),
 ('trc_count_1500', 0),
 ('trc_sqm_1500', 0),
 ('cafe_count_1500', 0),
 ('cafe_count_1500_na_price', 0),
 ('cafe_count_1500_price_500', 0),
 ('cafe_count_1500_price_1000', 0),
 ('cafe_count_1500_price_1500', 0),
 ('cafe_count_1500_price_2500', 0),
 ('cafe_count_1500_price_4000', 0),
 ('cafe_count_1500_price_high', 0),
 ('big_church_count_1500', 0),
 ('church_count_1500', 0),
 ('mosque_count_1500', 0),
 ('leisure_count_1500', 0),
 ('sport_count_1500', 0),
 ('market_count_1500', 0),
 ('green_part_2000', 0),
 ('prom_part_2000', 0),
 ('office_count_2000', 0),
 ('office_sqm_2000', 0),
 ('trc_count_2000', 0),
 ('trc_sqm_2000', 0),
 ('cafe_count_2000', 0),
 ('cafe_count_2000_na_price', 0),
 ('cafe_count_2000_price_500', 0),
 ('cafe_count_2000_price_1000', 0),
 ('cafe_count_2000_price_1500', 0),
 ('cafe_count_2000_price_2500', 0),
 ('cafe_count_2000_price_4000', 0),
 ('cafe_count_2000_price_high', 0),
 ('big_church_count_2000', 0),
 ('church_count_2000', 0),
 ('mosque_count_2000', 0),
 ('leisure_count_2000', 0),
 ('sport_count_2000', 0),
 ('market_count_2000', 0),
 ('green_part_3000', 0),
 ('prom_part_3000', 0),
 ('office_count_3000', 0),
 ('office_sqm_3000', 0),
 ('trc_count_3000', 0),
 ('trc_sqm_3000', 0),
 ('cafe_count_3000', 0),
 ('cafe_count_3000_na_price', 0),
 ('cafe_count_3000_price_500', 0),
 ('cafe_count_3000_price_1000', 0),
 ('cafe_count_3000_price_1500', 0),
 ('cafe_count_3000_price_2500', 0),
 ('cafe_count_3000_price_4000', 0),
 ('cafe_count_3000_price_high', 0),
 ('big_church_count_3000', 0),
 ('church_count_3000', 0),
 ('mosque_count_3000', 0),
 ('leisure_count_3000', 0),
 ('sport_count_3000', 0),
 ('market_count_3000', 0),
 ('green_part_5000', 0),
 ('prom_part_5000', 0),
 ('office_count_5000', 0),
 ('office_sqm_5000', 0),
 ('trc_count_5000', 0),
 ('trc_sqm_5000', 0),
 ('cafe_count_5000', 0),
 ('cafe_sum_5000_min_price_avg', 0),
 ('cafe_sum_5000_max_price_avg', 0),
 ('cafe_avg_price_5000', 0),
 ('cafe_count_5000_na_price', 0),
 ('cafe_count_5000_price_500', 0),
 ('cafe_count_5000_price_1000', 0),
 ('cafe_count_5000_price_1500', 0),
 ('cafe_count_5000_price_2500', 0),
 ('cafe_count_5000_price_4000', 0),
 ('cafe_count_5000_price_high', 0),
 ('big_church_count_5000', 0),
 ('church_count_5000', 0),
 ('mosque_count_5000', 0),
 ('leisure_count_5000', 0),
 ('sport_count_5000', 0),
 ('market_count_5000', 0),
 ('price_doc', 0),
 ('oil_urals', 0),
 ('gdp_quart', 0),
 ('gdp_quart_growth', 0),
 ('cpi', 0),
 ('ppi', 0),
 ('gdp_deflator', 0),
 ('balance_trade', 0),
 ('balance_trade_growth', 0),
 ('usdrub', 0),
 ('eurrub', 0),
 ('brent', 0),
 ('net_capital_export', 0),
 ('gdp_annual', 0),
 ('gdp_annual_growth', 0),
 ('average_provision_of_build_contract', 0),
 ('average_provision_of_build_contract_moscow', 0),
 ('rts', 0),
 ('micex', 0),
 ('micex_rgbi_tr', 0),
 ('micex_cbi_tr', 0),
 ('deposits_value', 0),
 ('deposits_growth', 0),
 ('deposits_rate', 0),
 ('mortgage_value', 0),
 ('mortgage_growth', 0),
 ('mortgage_rate', 0),
 ('grp', 0),
 ('grp_growth', 0),
 ('income_per_cap', 0),
 ('real_dispos_income_per_cap_growth', 0),
 ('salary', 0),
 ('salary_growth', 0),
 ('fixed_basket', 0),
 ('retail_trade_turnover', 0),
 ('retail_trade_turnover_per_cap', 0),
 ('retail_trade_turnover_growth', 0),
 ('labor_force', 0),
 ('unemployment', 0),
 ('employment', 0),
 ('invest_fixed_capital_per_cap', 0),
 ('invest_fixed_assets', 0),
 ('profitable_enterpr_share', 0),
 ('unprofitable_enterpr_share', 0),
 ('share_own_revenues', 0),
 ('overdue_wages_per_cap', 0),
 ('fin_res_per_cap', 0),
 ('marriages_per_1000_cap', 0),
 ('divorce_rate', 0),
 ('construction_value', 0),
 ('invest_fixed_assets_phys', 0),
 ('pop_natural_increase', 0),
 ('pop_migration', 0),
 ('pop_total_inc', 0),
 ('childbirth', 0),
 ('mortality', 0),
 ('housing_fund_sqm', 0),
 ('lodging_sqm_per_cap', 0),
 ('water_pipes_share', 0),
 ('baths_share', 0),
 ('sewerage_share', 0),
 ('gas_share', 0),
 ('hot_water_share', 0),
 ('electric_stove_share', 0),
 ('heating_share', 0),
 ('old_house_share', 0),
 ('average_life_exp', 0),
 ('infant_mortarity_per_1000_cap', 0),
 ('perinatal_mort_per_1000_cap', 0),
 ('incidence_population', 0),
 ('rent_price_4+room_bus', 0),
 ('rent_price_3room_bus', 0),
 ('rent_price_2room_bus', 0),
 ('rent_price_1room_bus', 0),
 ('rent_price_3room_eco', 0),
 ('rent_price_2room_eco', 0),
 ('rent_price_1room_eco', 0),
 ('load_of_teachers_school_per_teacher', 0),
 ('students_state_oneshift', 0),
 ('provision_doctors', 0),
 ('provision_nurse', 0),
 ('load_on_doctors', 0),
 ('power_clinics', 0),
 ('hospital_beds_available_per_cap', 0),
 ('hospital_bed_occupancy_per_year', 0),
 ('turnover_catering_per_cap', 0),
 ('seats_theather_rfmin_per_100000_cap', 0),
 ('bandwidth_sports', 0),
 ('population_reg_sports_share', 0),
 ('apartment_build', 0),
 ('apartment_fund_sqm', 0)]

# Picking top 50 columns to retain

In [107]:
columns = final.columns.drop(["price_doc"])
corrs = {}
price = final["price_doc"]
for col in columns:
    corr = price.corr(final[col])
    corrs[col] = corr
    corrs[col] = np.abs(corrs[col])

In [108]:
corrs = sorted(corrs.items(), key = lambda x: x[1],reverse = True)
corrs

[('num_room', 0.43124606215229755),
 ('full_sq', 0.34197654389327947),
 ('sport_count_5000', 0.29077570516607143),
 ('sport_count_3000', 0.2867576213735116),
 ('trc_count_5000', 0.2848793588862754),
 ('zd_vokzaly_avto_km', 0.27739133707505487),
 ('sadovoe_km', 0.2771854395495958),
 ('sport_count_2000', 0.2741084659810501),
 ('kremlin_km', 0.2725152203687566),
 ('bulvar_ring_km', 0.2724177359611772),
 ('office_sqm_5000', 0.26777570620146124),
 ('ttk_km', 0.26582737948133073),
 ('trc_sqm_5000', 0.2637215732166541),
 ('sport_count_1500', 0.25448928409744737),
 ('nuclear_reactor_km', 0.2513456917421227),
 ('sport_objects_raion', 0.24891413627421818),
 ('cafe_count_5000_price_1000', 0.23827150102858977),
 ('trc_count_3000', 0.23788627069064025),
 ('cafe_count_5000_price_1500', 0.23070719306178042),
 ('cafe_count_5000', 0.229616863562507),
 ('cafe_count_5000_na_price', 0.22803453140730734),
 ('stadium_km', 0.22800340764708044),
 ('cafe_count_5000_price_500', 0.2249646094355671),
 ('office_sqm_3000', 0.22484397465815478),
 ('cafe_count_5000_price_2500', 0.22398350747026688),
 ('trc_sqm_3000', 0.22181728241467438),
 ('office_count_5000', 0.21754635679188353),
 ('basketball_km', 0.2167702745379762),
 ('office_km', 0.21673933133581827),
 ('office_sqm_2000', 0.21463925803704442),
 ('detention_facility_km', 0.2135896175205059),
 ('cafe_count_5000_price_high', 0.21322830104950807),
 ('church_count_5000', 0.2108010478211975),
 ('university_km', 0.20929233509036685),
 ('cafe_count_5000_price_4000', 0.20899059257186975),
 ('swim_pool_km', 0.20694602561042044),
 ('theater_km', 0.20599934846125095),
 ('catering_km', 0.20533556058141733),
 ('workplaces_km', 0.20357428616644063),
 ('thermal_power_plant_km', 0.20142387463820574),
 ('leisure_count_5000', 0.19886398453057194),
 ('exhibition_km', 0.19824486473629224),
 ('big_church_count_5000', 0.19680467155219197),
 ('sport_count_1000', 0.19437100442670016),
 ('office_sqm_1500', 0.19400105983687485),
 ('market_count_5000', 0.1891499743509387),
 ('school_education_centers_raion', 0.1880370414994271),
 ('museum_km', 0.18631354463127778),
 ('healthcare_centers_raion', 0.18629956027142014),
 ('big_church_km', 0.18569185276917777),
 ('office_count_500', 0.18393913391069872),
 ('radiation_km', 0.1824948283673506),
 ('metro_min_avto', 0.18096965486467534),
 ('trc_count_2000', 0.1808851939748889),
 ('fitness_km', 0.18001352404619703),
 ('cafe_count_500_price_1000', 0.17728790381780715),
 ('ekder_male', 0.1769218920028708),
 ('park_km', 0.17572532061100526),
 ('office_count_1000', 0.1749219309643557),
 ('metro_min_walk', 0.17396403703379937),
 ('metro_km_walk', 0.17396403702616656),
 ('mosque_count_5000', 0.17202744616752408),
 ('shopping_centers_km', 0.17160037103980452),
 ('cafe_count_1000_price_high', 0.16867372061508132),
 ('ekder_all', 0.16756905068520467),
 ('metro_km_avto', 0.16754092854884012),
 ('cafe_count_3000_price_1000', 0.16477147235275696),
 ('university_top_20_raion', 0.1646660705802353),
 ('market_shop_km', 0.1641289758474152),
 ('cafe_count_3000_price_high', 0.16368435371945148),
 ('public_healthcare_km', 0.16280632171811987),
 ('office_count_1500', 0.16268912113871514),
 ('ekder_female', 0.16259335340754094),
 ('leisure_count_500', 0.1599364993050189),
 ('big_road2_km', 0.15937060850490334),
 ('life_sq', 0.1588431386317203),
 ('mosque_km', 0.15529780206944793),
 ('area_m', 0.15485835544994755),
 ('cafe_count_3000_na_price', 0.15468455954336818),
 ('cafe_count_1000_price_1000', 0.15465232937715837),
 ('office_count_3000', 0.1539731404086155),
 ('preschool_education_centers_raion', 0.15357347853933956),
 ('office_sqm_1000', 0.15328549394571755),
 ('cafe_count_3000', 0.15265027514347826),
 ('cafe_count_3000_price_1500', 0.15130670622217562),
 ('cafe_count_3000_price_2500', 0.14845750263986568),
 ('cafe_count_500_price_1500', 0.1484113321901104),
 ('green_part_5000', 0.14839319440869042),
 ('ts_km', 0.14820548402155093),
 ('market_count_3000', 0.14759345360633727),
 ('cafe_count_3000_price_500', 0.14726763108726887),
 ('office_count_2000', 0.1470925720156212),
 ('shopping_centers_raion', 0.14692336240139922),
 ('bus_terminal_avto_km', 0.14600820315524338),
 ('raion_popul', 0.14576284116313104),
 ('trc_count_1500', 0.14538434902873393),
 ('office_raion', 0.14432824773035324),
 ('state', 0.14300091081738842),
 ('power_transmission_line_km', 0.14160968749318956),
 ('trc_sqm_2000', 0.1411293247577532),
 ('railroad_station_avto_min', 0.14098215930766125),
 ('work_male', 0.13970919981007057),
 ('hospice_morgue_km', 0.13877842675325416),
 ('ice_rink_km', 0.13777056836287613),
 ('work_all', 0.13709421192358662),
 ('railroad_station_walk_min', 0.13454474244959022),
 ('railroad_station_walk_km', 0.13454474244662928),
 ('7_14_female', 0.13437363889652312),
 ('0_17_female', 0.1343303236345094),
 ('additional_education_km', 0.13379453359544394),
 ('work_female', 0.1337023441034194),
 ('church_count_3000', 0.1336251813288492),
 ('school_km', 0.13357770305491307),
 ('children_school', 0.13336073077541136),
 ('7_14_all', 0.13336073077541136),
 ('0_17_all', 0.13335631870593934),
 ('kindergarten_km', 0.13282919978478214),
 ('0_13_female', 0.13271517296162913),
 ('railroad_station_avto_km', 0.1326730932936615),
 ('young_female', 0.13242981149684066),
 ('0_17_male', 0.13219346605620802),
 ('cafe_count_1500_price_1000', 0.13209481482186688),
 ('7_14_male', 0.13196288535791428),
 ('office_sqm_500', 0.13188502628033125),
 ('0_13_all', 0.1316018358198789),
 ('preschool_km', 0.13132879442921008),
 ('young_all', 0.13122283357383197),
 ('cafe_count_1500_price_high', 0.1305328225530691),
 ('0_13_male', 0.13028434567081731),
 ('big_church_count_3000', 0.13022710451430453),
 ('young_male', 0.1298324494646605),
 ('0_6_female', 0.12936540101244196),
 ('children_preschool', 0.12842600871952017),
 ('0_6_all', 0.12842600871952017),
 ('cafe_count_2000_price_1000', 0.1279975965737144),
 ('0_6_male', 0.12731296370986178),
 ('bandwidth_sports', 0.12728213454633097),
 ('id', 0.1265982243411374),
 ('cafe_count_3000_price_4000', 0.12613543884661083),
 ('green_part_3000', 0.12604390397940782),
 ('fixed_basket', 0.1246478850490797),
 ('cpi', 0.12382214223912415),
 ('cafe_count_2000_price_high', 0.12327260668618967),
 ('cafe_count_1500_na_price', 0.12319103146961446),
 ('gdp_annual_growth', 0.1221789385831797),
 ('load_of_teachers_school_per_teacher', 0.12196453174632602),
 ('gdp_deflator', 0.12177225137826227),
 ('salary', 0.12148946805584375),
 ('turnover_catering_per_cap', 0.120789948967285),
 ('deposits_value', 0.11981102195911512),
 ('cafe_count_2000', 0.11932194841425538),
 ('cafe_count_2000_price_1500', 0.11876160456213057),
 ('gdp_annual', 0.11873516573195005),
 ('cafe_count_2000_na_price', 0.11767109592278356),
 ('cafe_count_2000_price_2500', 0.11765537319197746),
 ('cafe_count_1000_price_1500', 0.11762805557605308),
 ('provision_nurse', 0.11752829078054744),
 ('cafe_count_500', 0.11736246045000394),
 ('cafe_count_1500_price_2500', 0.11731198505939879),
 ('cafe_count_2000_price_500', 0.11670081420683091),
 ('leisure_count_1500', 0.11665294747827877),
 ('micex_rgbi_tr', 0.11571576176226493),
 ('labor_force', 0.11497123508911143),
 ('floor', 0.11374572699168113),
 ('invest_fixed_assets', 0.1136129593498896),
 ('cafe_count_1500', 0.11324787510577611),
 ('ppi', 0.11281121383838942),
 ('public_transport_station_km', 0.11230285977351279),
 ('public_transport_station_min_walk', 0.11230285977236987),
 ('invest_fixed_capital_per_cap', 0.1121115909906545),
 ('rts', 0.1120112313176453),
 ('average_life_exp', 0.11200366361041232),
 ('mosque_count_1500', 0.1102921202857218),
 ('cafe_count_1000_na_price', 0.11028336208938179),
 ('eurrub', 0.10980169155331579),
 ('cafe_count_1500_price_1500', 0.10928458478848282),
 ('leisure_count_3000', 0.10915979733894231),
 ('retail_trade_turnover', 0.10861353000494586),
 ('usdrub', 0.10815909290040349),
 ('market_count_2000', 0.10775280384843793),
 ('load_on_doctors', 0.10717792745674036),
 ('oil_chemistry_km', 0.10634794129361809),
 ('employment', 0.10630075508570108),
 ('retail_trade_turnover_per_cap', 0.10513580589002137),
 ('cafe_count_1500_price_500', 0.10509764055848812),
 ('micex_cbi_tr', 0.10495317304649489),
 ('cafe_count_1000', 0.10445285553604208),
 ('rent_price_3room_bus', 0.10403183521699312),
 ('church_synagogue_km', 0.10264751106344797),
 ('big_road1_km', 0.1025978673708198),
 ('school_education_centers_top_20_raion', 0.10085589479703852),
 ('unprofitable_enterpr_share', 0.09940011559179861),
 ('profitable_enterpr_share', 0.09940011559179845),
 ('oil_urals', 0.09922623696381279),
 ('hospital_bed_occupancy_per_year', 0.09913704974330667),
 ('incidence_population', 0.09910247269217468),
 ('mosque_count_2000', 0.09888762284422772),
 ('leisure_count_1000', 0.09849610301141068),
 ('fin_res_per_cap', 0.09831932626704419),
 ('hospital_beds_available_per_cap', 0.0979637663300077),
 ('provision_doctors', 0.09773492956258262),
 ('industrial_km', 0.09744577463760243),
 ('railroad_km', 0.09741741817644571),
 ('construction_value', 0.09706584387367387),
 ('grp', 0.09703278327827813),
 ('brent', 0.09684424449602433),
 ('rent_price_3room_eco', 0.0952344304183956),
 ('mosque_count_3000', 0.0941767365368316),
 ('gdp_quart_growth', 0.09378505166055859),
 ('cafe_count_500_price_500', 0.0934089062187441),
 ('gas_share', 0.0931637874219712),
 ('green_part_2000', 0.09260681352035782),
 ('rent_price_2room_bus', 0.0923910646389973),
 ('cafe_count_2000_price_4000', 0.09170680900360632),
 ('population_reg_sports_share', 0.09091119533236501),
 ('trc_sqm_1500', 0.09033040754309828),
 ('power_clinics', 0.09027349959286776),
 ('sport_count_500', 0.08994798226846593),
 ('cafe_count_1000_price_2500', 0.08942189289927133),
 ('mosque_count_1000', 0.08880865572370938),
 ('indust_part', 0.08790916510371283),
 ('infant_mortarity_per_1000_cap', 0.08789987058251743),
 ('prom_part_5000', 0.08703968783956742),
 ('church_count_2000', 0.08611269618273604),
 ('retail_trade_turnover_growth', 0.08556564880494245),
 ('electric_stove_share', 0.08548837226285774),
 ('big_church_count_1000', 0.08480450677561753),
 ('green_zone_part', 0.08457290899516616),
 ('childbirth', 0.08431744263596239),
 ('ID_railroad_terminal', 0.08404360627318914),
 ('gdp_quart', 0.08400260963961033),
 ('max_floor', 0.08295169224437368),
 ('leisure_count_2000', 0.08243816289866565),
 ('share_own_revenues', 0.08160156510932902),
 ('pop_migration', 0.08049543016382874),
 ('cafe_count_1000_price_500', 0.07944082715153868),
 ('invest_fixed_assets_phys', 0.0791649333184971),
 ('market_count_1500', 0.07915601619860166),
 ('deposits_rate', 0.07887732133146676),
 ('salary_growth', 0.07863691865063437),
 ('average_provision_of_build_contract', 0.07860340535673098),
 ('marriages_per_1000_cap', 0.07856334292563744),
 ('big_church_count_2000', 0.07808315816402399),
 ('cafe_count_500_price_2500', 0.07790342222856399),
 ('mortgage_growth', 0.07738463507710165),
 ('balance_trade_growth', 0.07668137618185042),
 ('pop_total_inc', 0.07618498668155808),
 ('water_treatment_km', 0.07577450180205139),
 ('ID_big_road2', 0.07567211820359661),
 ('trc_count_1000', 0.07497799446252068),
 ('cafe_count_500_price_4000', 0.07364232559553435),
 ('church_count_1500', 0.07346399608066129),
 ('rent_price_4+room_bus', 0.0731445917102213),
 ('prom_part_1500', 0.0729073922223735),
 ('real_dispos_income_per_cap_growth', 0.07173068464908118),
 ('mortgage_rate', 0.06881517473295765),
 ('unemployment', 0.06858645086270578),
 ('green_part_1500', 0.06658584709491748),
 ('perinatal_mort_per_1000_cap', 0.06656019603201235),
 ('big_church_count_1500', 0.06637049270690613),
 ('housing_fund_sqm', 0.06609201848501743),
 ('ID_big_road1', 0.06544947423878693),
 ('material', 0.06503400787418748),
 ('ID_metro', 0.06443814284625114),
 ('prom_part_1000', 0.06319567345092107),
 ('seats_theather_rfmin_per_100000_cap', 0.06316541010161905),
 ('market_count_1000', 0.06302150736852316),
 ('cafe_count_1500_price_4000', 0.06224758694461828),
 ('trc_count_500', 0.06169185180749652),
 ('pop_natural_increase', 0.061071449361800714),
 ('students_state_oneshift', 0.06074061380496957),
 ('green_part_500', 0.05805908603116428),
 ('green_zone_km', 0.05737519758356256),
 ('prom_part_2000', 0.056359877738848076),
 ('cafe_count_500_price_high', 0.0536913975607733),
 ('additional_education_raion', 0.05353284196358239),
 ('apartment_build', 0.053241454975354936),
 ('average_provision_of_build_contract_moscow', 0.05313648001088117),
 ('church_count_1000', 0.05241609525418214),
 ('green_part_1000', 0.0521841626220321),
 ('micex', 0.05188965677310889),
 ('ID_bus_terminal', 0.04987748952099284),
 ('cafe_count_500_na_price', 0.04796691919336798),
 ('hot_water_share', 0.044561176567520594),
 ('rent_price_1room_bus', 0.043969278973939416),
 ('ID_railroad_station_avto', 0.04091442169449109),
 ('incineration_km', 0.03996899844095793),
 ('apartment_fund_sqm', 0.039588585364478415),
 ('market_count_500', 0.03958370360315967),
 ('trc_sqm_1000', 0.03943042666711553),
 ('cafe_count_1000_price_4000', 0.03535058341243715),
 ('grp_growth', 0.035236008921023396),
 ('rent_price_1room_eco', 0.03453819944722871),
 ('heating_share', 0.03424387686390505),
 ('water_pipes_share', 0.03424387686390441),
 ('old_house_share', 0.034243876863903504),
 ('baths_share', 0.03424387686390324),
 ('water_km', 0.03280669166070433),
 ('big_market_km', 0.031556966528406116),
 ('rent_price_2room_eco', 0.030636325308941923),
 ('big_church_count_500', 0.024975202002080216),
 ('kitch_sq', 0.024405646228547986),
 ('cafe_sum_5000_max_price_avg', 0.02422500010516519),
 ('cafe_avg_price_5000', 0.02399295117909081),
 ('male_f', 0.023976466486150632),
 ('cafe_sum_5000_min_price_avg', 0.023574488203411514),
 ('full_all', 0.022806382938893793),
 ('female_f', 0.021812424458385788),
 ('16_29_male', 0.020664534051146644),
 ('deposits_growth', 0.020101234880656665),
 ('16_29_all', 0.019867078971725224),
 ('16_29_female', 0.019097943247333056),
 ('mortgage_value', 0.019049961080150276),
 ('net_capital_export', 0.018238030065992374),
 ('mosque_count_500', 0.018154755861978056),
 ('mortality', 0.016867501317521745),
 ('income_per_cap', 0.016539307969158836),
 ('prom_part_3000', 0.015954227813467104),
 ('overdue_wages_per_cap', 0.015738769952016587),
 ('sewerage_share', 0.015088631254754575),
 ('church_count_500', 0.01358622824461046),
 ('lodging_sqm_per_cap', 0.012736081085680867),
 ('prom_part_500', 0.011247526209261578),
 ('mkad_km', 0.008145651676441058),
 ('ID_railroad_station_walk', 0.007319802060949126),
 ('cemetery_km', 0.006024410703746379),
 ('build_year', 0.00267550829269943),
 ('balance_trade', 0.002019302043367877),
 ('trc_sqm_500', 0.0010195316508077653),
 ('divorce_rate', 0.00010806665069258853)]

In [131]:
macros = macro.columns
final_columns = []
mac = 0
total = 0
for cor in corrs:
    if cor[0] in macro:
        if mac < 10 and total < 50:
            final_columns.append(cor[0])
            mac+=1
            total += 1
    elif total < 50:
        final_columns.append(cor[0])
        total +=1
#final_columns

# Final Dataset

In [135]:
final = final[final_columns]
final["price_doc"]  = price
final

,num_room,full_sq,sport_count_5000,sport_count_3000,trc_count_5000,zd_vokzaly_avto_km,sadovoe_km,sport_count_2000,kremlin_km,bulvar_ring_km,...,exhibition_km,big_church_count_5000,sport_count_1000,office_sqm_1500,market_count_5000,school_education_centers_raion,museum_km,healthcare_centers_raion,big_church_km,price_doc
0,1.962264,43,52,21,52,14.231961,13.100618,10,15.156211,13.675657,...,7.023705,13,6,39554,4,5,7.389498,1,0.625783,5850000
1,1.925926,34,66,19,40,9.242586,6.444333,11,8.698054,8.132640,...,2.358840,15,2,102910,14,8,0.709260,1,0.967821,6000000
2,1.858586,43,67,20,35,9.540544,6.963403,8,9.067885,8.054252,...,4.958214,11,5,0,10,7,3.156423,1,3.178751,5700000
3,2.132275,89,26,18,22,17.478380,17.457198,13,19.487005,18.309433,...,5.029696,4,3,11000,3,10,16.041521,1,1.031777,13100000
4,2.875000,77,195,77,114,1.595898,0.046810,21,2.578671,0.787593,...,1.339652,135,7,1195735,14,9,1.800125,4,0.378756,16331452
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30287,2.000000,44,84,29,53,11.396447,10.543724,15,12.599292,11.118577,...,4.877876,15,3,217042,6,4,4.836787,1,1.235066,7400000
30288,4.000000,86,171,80,90,1.010437,1.203215,36,3.269284,1.874868,...,3.543784,98,8,1815698,15,4,1.450108,3,0.850385,25000000
30289,1.000000,45,11,6,4,25.699461,19.868997,3,21.905792,21.038561,...,4.555385,2,0,0,1,0,9.890758,0,1.192543,6970959
30290,2.000000,64,65,33,45,15.303338,11.752036,18,13.622569,12.872535,...,1.800186,6,10,37800,7,8,4.119706,2,1.644053,13500000
30291,2.000000,43,54,26,22,12.243439,9.675169,12,11.812614,10.228634,...,2.477068,7,3,0,10,4,0.127867,2,0.480531,5600000

In [136]:
final.to_csv("final.csv")